*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background-color: #275cec;
    background:linear-gradient(to right, #FFDB58, #000080) ;
}
.container
{
    background: linear-gradient(to right, #FFDB58, #000080);
    width: 450px;
    padding: 1.5rem;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1,0.9);
}